@font-face {
  font-family: "Bank Printer";
  src: url("./Assets/F25_Bank_Printer.otf");
}
@font-face {
  font-family: "Gemsbuck";
  src: url("./Assets/Gemsbuck01Black-axn2g.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-image: repeating-linear-gradient(
      90deg,
      rgba(161, 161, 161, 0.03) 0px,
      rgba(161, 161, 161, 0.03) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(161, 161, 161, 0.03) 0px,
      rgba(161, 161, 161, 0.03) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(161, 161, 161, 0.03) 0px,
      rgba(161, 161, 161, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(161, 161, 161, 0.03) 0px,
      rgba(161, 161, 161, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(20, 20, 20), rgb(20, 20, 20));
}

.navLinks {
  z-index: 1;
  width: 25%;
  height: 100dvh;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  transition: 1s ease;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  filter: drop-shadow(10px 0px 15px rgb(27, 27, 27));
}

#closeNav {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ff6600;
  color: white;
  font-family: "Gemsbuck";
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

#closeNav:hover {
  border: 1px solid #ff6600;
  background-color: transparent;
  color: #ff6600;
}

.navToggleBtn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 40px;
  background-color: #ff6600;
  color: white;
  font-family: "Gemsbuck";
  border: none;
}

.navToggleBtn:hover {
  border: 1px solid #ff6600;
  background-color: transparent;
  color: #ff6600;
}

#hide {
  position: absolute;
  top: 0px;
  left: -500px;
  transition: 1s ease;
}

.navLinks img {
  width: 200px;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#servicesLink,
#reviewsLink,
#bookNowBtn {
  color: white;
  font-family: "Bank Printer";
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 25px;
}

#servicesLink:hover,
#reviewsLink:hover {
  color: #ff6600;
}

#bookNowBtn {
  background-color: #ff6600;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ff6600;
}

#bookNowBtn:hover {
  color: #ff6600;

  background-color: transparent;
}

.socialLink img {
  width: 40px;
  margin: 5px;
}

.homePage {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homePage h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Gemsbuck";
  color: #ff6600;
}

.homePage p {
  margin-bottom: 30px;
  font-family: Helvetica;
  color: white;
  width: 50%;
}

#homePageImage {
  border-radius: 30px;
  filter: drop-shadow(0px 0px 15px rgb(21, 21, 21));
}

.servicesPage {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100dvw;
  height: 100%;
}

.servicesItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.servicesItem h1 {
  font-family: "Gemsbuck";
  font-size: 40px;
  color: #ff6600;
  margin-bottom: 20px;
}

.servicesItem p {
  font-family: Helvetica;
  color: white;
  margin-bottom: 20px;
}

.servicesItem img {
  border-radius: 20px;
  width: 100%;
  filter: drop-shadow(0px 0px 15px black);
  margin-bottom: 70px;
}

.reviewsPage {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100dvw;
  height: 100%;
}

.reviewItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.reviewItem h1 {
  font-family: "Gemsbuck";
  font-size: 40px;
  color: #ff6600;
  margin-bottom: 10px;
}

.reviewItem h3 {
  font-family: Helvetica;
  color: white;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 10px;
}

.reviewItem p {
  font-family: Helvetica;
  color: white;
  margin-bottom: 100px;
}

.bookNow {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookNow h1 {
  color: #ff6600;
  font-family: "Gemsbuck";
  margin-bottom: 10px;
}

.bookNow b {
  color: #ff6600;
}

.bookNow p {
  width: 700px;
  font-family: "Helvetica";
  color: white;
  font-size: 18px;
}

.bookNowForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookNowForm input {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.bookNowForm textarea {
  margin-bottom: 50px;
}

.bookNowForm button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #ff6600;
  color: white;
  font-family: "Gemsbuck";
  border: none;
}

.bookNowForm button:hover {
  background-color: transparent;
  color: #ff6600;
  border: 1px solid #ff6600;
}

@media (max-width: 450px) {
  .navLinks {
    width: 100%;
    border-radius: 0;
  }

  .homePage {
    margin-top: 50px;
  }

  .homePage h1 {
    font-size: 22px;
  }
  .homePage p {
    width: 300px;
    font-size: 14px;
  }

  #homePageImage {
    width: 325px;
  }
  .servicesPage {
    margin-top: 150px;
  }

  .servicesItem {
    width: 300px;
  }

  .servicesItem h1 {
    font-size: 24px;
  }

  .servicesItem img {
    width: 300px;
  }

  .reviewsPage {
    margin-top: 150px;
  }

  .reviewItem {
    width: 300px;
  }

  .reviewItem h1 {
    font-size: 24px;
  }

  .reviewItem h3 {
    font-size: 20px;
  }
}
